<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('header') -%>
<title>Electronic Part</title>
<div id="container-elec">
  <!-- This is where categories and stuff are being shown -->
  <div class="side-menu">
    <ul>

      
    </ul>
  </div>
  <!-- This is where all the products are being shown -->

  <div class="elec-items">
    <ol>
      <li>
        <div class="elec-i">
          <!-- <h2>Marque: <a href="#">Dianww</a></h2> -->
          <div class="elec-i-img">
            <img src="" alt="">
          </div>

          <div class="des">
            <h3> USB Flash Drive 512GB_ USB Flash Drive Type c Flash Drive 3.0 Dianww
              4 in 1 External Storage.</h3>
          </div>
          <div class="star">

          </div>
          <div class="price">
            <span>100.99</span>
          </div>
          <div class="shipping">
            <span>free shipping</span>
          </div>
        </div>
      </li>

      <li>
        <div class="elec-i">
          <!-- <h2>Marque: <a href="#">Dianww</a></h2> -->
          <div class="elec-i-img">
            <img src="" alt="">
          </div>

          <div class="des">
            <h3> USB Flash Drive 512GB_ USB Flash Drive Type c Flash Drive 3.0 Dianww
              4 in 1 External Storage.</h3>
          </div>
          <div class="star">

          </div>
          <div class="price">
            <span style="color:black;">199.99</span>
          </div>
          <div class="shipping">
            <span>free shipping</span>
          </div>
        </div>
      </li>

      <li>
        <div class="elec-i">
          <!-- <h2>Marque: <a href="#">Dianww</a></h2> -->
          <div class="elec-i-img">
            <img src="" alt="">
          </div>

          <div class="des">
            <h3> USB Flash Drive 512GB_ USB Flash Drive Type c Flash Drive 3.0 Dianww
              4 in 1 External Storage.</h3>
          </div>
          <div class="star">

          </div>
          <div class="price">
            <span>100.99</span>
          </div>
          <div class="shipping">
            <span>free shipping</span>
          </div>
        </div>
      </li>
      <li>
        <div class="elec-i">
          <!-- <h2>Marque: <a href="#">Dianww</a></h2> -->
          <div class="elec-i-img">
            <img src="" alt="">
          </div>

          <div class="des">
            <h3> USB Flash Drive 512GB_ USB Flash Drive Type c Flash Drive 3.0 Dianww
              4 in 1 External Storage.</h3>
          </div>
          <div class="star">

          </div>
          <div class="price">
            <span>100.99</span>
          </div>
          <div class="shipping">
            <span>free shipping</span>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>

<%- include('footer') -%>
<script type="text/javascript" src="jquery-3.6.0.js"></script>
<script src="index.js"></script>
<script type="text/javascript" src="electronic.js"></script>
</body>

</html>
