<footer class="footer-section">
    <div class="container-fluid">
      <form class="" action="" method="post">

          <label for="search">Subcribe Newsletter!</label>
          <div class="search-container">
          <input type="text" name="search" value="">
          <button type="submit" name="button">submit</button>
      </div>
      </form>
      <!-- The services that we offer -->
      <div class="listOfServices">
      <ul>
        <h1><em>SERVICES</em></h1>
        <li><a href="">Achat En Ligne</a></li>
        <li><a href="">Livraison À Domocile</a></li>
        <li><a href="">Paiement En Ligne</a></li>
        <li><a href="">Promotion</a></li>
        <li><a href="">Creation Site-Web</a></li>
        <li><a href="">Creation Application Mobile</a></li>
        <li><a href="">Graphics Designs</a></li>
      </ul>
      <ul>
            <h1><em>SERVICES</em></h1>
        <li><a href="">Achat En Ligne</a></li>
        <li><a href="">Livraison À Domocile</a></li>
        <li><a href="">Paiement En Ligne</a></li>
        <li><a href="">Promotion</a></li>
        <li><a href="">Creation Site-Web</a></li>
        <li><a href="">Creation Application Mobile</a></li>
        <li><a href="">Graphics Designs</a></li>
      </ul>
      <ul>
            <h1><em>SERVICES</em></h1>
        <li><a href="">Achat En Ligne</a></li>
        <li><a href="">Livraison À Domocile</a></li>
        <li><a href="">Paiement En Ligne</a></li>
        <li><a href="">Promotion</a></li>
        <li><a href="">Creation Site-Web</a></li>
        <li><a href="">Creation Application Mobile</a></li>
        <li><a href="">Graphics Designs</a></li>
      </ul>
      <ul>
          <h1><em>SERVICES</em></h1>
        <li><a href="">Achat En Ligne</a></li>
        <li><a href="">Livraison À Domocile</a></li>
        <li><a href="">Paiement En Ligne</a></li>
        <li><a href="">Promotion</a></li>
        <li><a href="">Creation Site-Web</a></li>
        <li><a href="">Creation Application Mobile</a></li>
        <li><a href="">Graphics Designs</a></li>
      </ul>
      </div>
      <div class="social-media">
        <a href=""><i class="fab fa-facebook fa-2x"></i>AZSHOP</a>
        <a href=""><i class="fab fa-twitter fa-2x"></i> Laine Dieunineken</a>
        <a href=""><i class="fab fa-instagram fa-2x"></i> Laine Dieunineken</a>
        <a href=""><i class="fab fa-linkedin fa-2x"></i> Laine Dieunineken</a>
        <p>© Copyright 2021 AZshop</p>
      </div>
    </div>
  </footer>
