<head>
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <!-- Metas -->
  <meta charset="utf-8">
  <meta name="viewport" content="device=device-width, initial-scale=1.0">
  <!-- The favicon -->
  <link rel="icon" href="image/AZ.svg">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&family=Montserrat:wght@100;900&family=Sacramento&display=swap" rel="stylesheet">
  <!--local boostrap-->
  <link rel="stylesheet" href="css/electronic.css">
  <link rel="stylesheet" href="boot/bootstrap.css">
  <!-- Local Css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/screen-resizer.css">
  <!--Local bootJs-->
  <script type="text/javascript" src="boot/bootstrap.js"></script>
</head>

<body>
  <section id="title">
    <nav>
      <div class="separateNav">
        <!-- the first nav -->
        <div class="firstNav">
          <!--  The logo -->
          <div class="logo">
            <img width="100px" k src="image/AZ.svg" alt="The site logo">
          </div>
          <!-- The delivery location -->
          <div id="address-location">
            <div class="">
              <span>Dieunineken Laine</span>
            </div>
            <div class="location">
              <span>Delmas33 HT31610</span>
            </div>
          </div>
          <!-- the search bar  -->
          <div class="AZsearch">
            <form class="" action="index.html" method="post">
              <input class="nav-search-bar" type="text" name="" value="">
              <button style=" width: 30px; height:32px;" class="s-bt">
                <svg width="100%" height="100%" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                  </path>
                </svg>
              </button>
            </form>
          </div>

          <div class="user_interacting">
          <div class="language ul_item">
            <img class="ul_item" src="image/lng.png" alt="b">
          </div>
          <div class="order ul_item">
            <img class="ul_item" src="image/order.png" alt="a">
          </div>
          <div class="account ul_item">
            <img class="ul_item" src="image/account.png" alt="c">
          </div>
          <!-- the cart -->
          <!-- <div class="cart">
            <i class="fas fa-shopping-cart"></i>
          </div> -->
          </div>
        </div>
        <!-- The second nav -->
        <div class="secon-nav">

          <!-- The umberger buttons  -->
          <div class="humberger-menu">
            <div class="menu-bar1"></div>
            <div class="menu-bar2"></div>
            <div class="menu-bar3"></div>
          </div>
          <div class="the-services">
            <div class="">
              <a href="">Sercice Clientele</a>
            </div>
            <div class="">
              <!-- <a href="">Best Seller</a> -->
            </div>
            <div class="">
              <a href="">Historie</a>
            </div>
            <div class="">
              <a href="">Abonner</a>
            </div>
            <div class="">
              <a href=""> Vendeur</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="toggleMenuContainer">
      <ul>
        <li>ABOUT US</li>
        <li>CONTACT US</li>
        <li>SETTINGS</li>

      </ul>
    </div>



  </section>
