<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('header') -%>
<title>Azshop</title>
    <!-- The carousel -->
    <div class="carousel-container">
      <div class="carousel__item carousel__item--visible back">
          <p style="color:black;">The one that should load up</p>
      </div>
      <div style class="carousel__item back">
        <div class="img-ads-show">
          <img height="302px" src="image/background-ads.svg" alt="">
        </div>
      </div>
      <div class="carousel__item back">
        <h1>Douverna</h1>
      </div>
      <div background-color:#45ff98; class="carousel__item back">
        <h1>Robensky</h1>
      </div>
      <div class="carousel-actions">
        <button id="carousel-button-prev" aria-label="previous slide">
          <</button>
            <button id="carousel-button-next" aria-label="next slide">></button>
      </div>
    </div>
  </section>
  <!-- The electronic Items -->
  <section class="Electronic">
    <h1>Shop by categories.</h1>
    <div class="electronic-container">
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Electroniques</h1>
        <a href="/electronic" name="elec"><img src="" alt=""></a>
        <div class="price-and-more">

        </div>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Artisanals</h1>
        <a href=""><img src="" alt=""></a>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Vetements & Accessoires</h1>
        <a href=""><img src=" " alt=""></a>
        <div class="price-and-more">

        </div>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Vehicles</h1>
        <a href=""><img src=" " alt=""></a>
        <div class="price-and-more">

        </div>
      </div>


      <div class="electronic-items">
        <h1 style="font-size: 18px;">Designs</h1>
        <a href=""><img src="" alt=""></a>
        <div class="price-and-more">
          <p style="color:#000;">Price: <span style="color:#ff4301">18$</span></p>
        </div>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Websites & Apps</h1>
        <a href=""><img src="" alt=""></a>
        <div class="price-and-more">

        </div>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Marketing</h1>
        <a href=""><img src=" " alt=""></a>
        <div class="price-and-more">

        </div>
      </div>
      <div class="electronic-items">
        <h1 style="font-size: 18px;">Computer & accessoiry</h1>
        <a href=""><img src=" " alt=""></a>
        <div class="price-and-more">

        </div>
      </div>

    </div>

  </section>
  <!-- the testimonials -->
  <section class="testimonials">

  </section>

  <!-- The footer -->
 <%- include('footer') -%>
  <script type="text/javascript" src="jquery-3.6.0.js"></script>
  <script src="index.js"></script>
</body>

</html>
