<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/catalog.css">
    <title>All the product</title>
</head>
<body>
    <div class="content-product">
        <!-- the product -->
            <div class="container-products">
                <img src="image/souris.png" alt="">
                <div>
                    <h2>Souris-rechargeable wireless</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Vestibulum porttitor nunc ac convallis pharetra. 
                         Cras aliquam libero ut finibus bibendum. 
                    </p>
                </div>
                <div>
                    <p>$199</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/otg-drive-512.jpg" alt="">
                <div>
                    <h2>Otg-Drive-512GB</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$25</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/portable speaker.png" alt="">
                <div>
                    <h2>Portable-light decor speaker</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$15</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/zara.webp" alt="">
                <div>
                    <h2>Zara white</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$69.99</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/bag-biaowang.jpg" alt="">
                <div>
                    <h2>Biaowang bag, backpack</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$30</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/Camera.jpeg" alt="">
                <div>
                    <h2>Nickon camera</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$700</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/Bmw.jpg" alt="">
                <div>
                    <h2>BMW 2009 X5,Automatic</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$15000</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>
        
            <div class="container-products">
                <img src="image/clavier laser.png" alt="">
                <div>
                    <h2>Laser wireless keyboard</h2>
                </div>
                <div>
                    <p><span>Description:</span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vestibulum porttitor nunc ac convallis pharetra. 
                        Cras aliquam libero ut finibus bibendum.
                    </p>
                </div>
                <div>
                    <p>$115</p>
                </div>
                <div><button>Contact</button>
                </div>
            </div>

            <div>
              
                <p>"<%=content[0]%>"</p>
                <img width="150px" src="..\C:\Users\laine\Desktop\we-website-feature\Azshop-catalog\1627248660050.png" alt="imge">
            </div>
        </div>
</body>
</html>
