<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/login.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style='background-color:white;'>

    <div class="sign_up-container">
      <h1>Sign up</h1>
      <div class="sign_up-contsiner-wrap">
        <form class="lgf" action="index.html" method="post">
          <input type="email" name="email" placeholder="dlaine1998@gmail.com" required>
          <input type="text" name="name" placeholder="Dieunineken" required>
          <input type="text" name="lastname" placeholder="Laine" required>
          <input type="text" name="address" placeholder="your address">
          <input type="number" name="number" placeholder="+(509) 47611927">
          <input type="password" name="password" placeholder="Enter your password">
          <input type="password" name="password" placeholder="Confirm your password">
          <button type="submit" name="submit">submit</button>
        </form>

      </div>
    </div>

  </body>
</html>
