body{
  box-sizing: border-box;
  font-family:"Arial",sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  margin:0;
  padding: 0;
  color:white;
  width:100%;
}
 .humberger-menu{
  padding:0 4px 0 2px;
  margin:2px 0;
}

.back{
  background:url("../public/image/rrr.svg");
}
.menu-bar1, .menu-bar2, .menu-bar3{
  background-color:#fff;
  width:20px;
  height: 2px;
  margin:5px 0;
}
.the-services{
  font-family:"Montserrat-Bold",sans-serif;
  width: inherit;
  display: inherit;
  margin: 2px 0 4px 0;
  padding:4px 0 0 0;
  position: relative;

}

.the-services a{
  text-decoration: none;
  color: #fff;
  padding:12px;
  letter-spacing: 1px;
}
#address-location:hover{
border: 1px solid #fff;
}
.the-services div:hover {
  border: 1px solid #fff;
}
.humberger-menu:hover{
    border: 1px solid #fff;

}
/* .the-services{
  padding:1%;
} */
#title{

position:sticky;
}
nav {
  overflow:hidden;
    width: 100%;
    position:static;
}
.firstNav{
  background-color:#0089ff;
  display:inline-flex;
  height:50px;
  width: 100%;
}
/* .cart{
  position:relative;
margin-right: auto;
width:40px;
height: auto;
} */
.firstNav #address-location{
  /* word-wrap: break-word; */
  display:block;
  width:150px;
  margin: 5px 5px;
}
/* The search part */
.AZsearch{
/* background-color:red; */
position:relative;

/* top: 0.3125rem; */
width: 700px;
/*background-color: #22215E;*/

}
.AZsearch input[type=text]{
  width: 95%;
  border: none;
  border-radius:10px 0 0 10px;
  line-height:30px;
  margin-right: 0;
  /* padding-right:-100px; */
}
.s-bt{
  border:none;
background-color:white;
border-radius: 0 10px 10px 0;
/* float: right; */
position: relative;
top:-1px; 
right:5px;
margin-right: 0;
width:10 ;
}
.s-bt svg{
  padding-bottom: 2px;
  color:rgb(78, 39, 129);
}
form{
  margin-top: 10px;
  margin-left: 5px;
}
/* the humberger button */
.btn{
  border:1px solid white;
  /* padding: 10px; */
  position: relative;
  right: 3px;
  top: 3px;
  background-color: ;
}
.secon-nav div{
  margin-left:3px;
}

.logo{
  padding:10px 5px 0;
}
.secon-nav{

  display:inline-flex;
  background-color:rgb(0, 0, 0);
  width:100%;
}
.Electronic{

}
.electronic-items{
  border-radius: 10px;
  text-align: center;
  /* width:50%; */
  background-color:#fff;
  margin:0.5%;
  overflow-X:hidden;
}

.electronic-items h1{
background-color: #f9152C;
color:#fff;
}

.wd{
   display:inline-flex;
}
.container-fluid{
padding-left: 152px;
  /* background-color: white; */
}

/*Animation part */


.toggleMenuContainer{
  position: relative;
  color: black;
   display:none;
  width: 100%;
  height: 100px ;
  background-color: white;
  margin:0 0 ;
  top:-6px;

}
.active{
  display:block;
}

/*The carousel Part*/
.carousel-container{
   position: relative;
   top: -7px;
}
.carousel-container .carousel__item{
  width: 100%;
  height:300px;
/* background-image: url('image/otg1.jpeg'); */

  overflow: hidden;
  animation: fadeVisibility 0.5s;
}
.carousel-container .carousel__item,
.carousel__item--hidden{
  display:none;
}
.carousel-container .carousel__item--visible{
  display: block;
}
.carousel-container .carousel-actions{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-container .carousel-actions button{
  border-radius: 50px;
  border:0;
  font-weight: bold;
  width: 40px;
  height: 40px;
}
.carousel-container .carousel-actions button#carousel-button-prev{
  margin-left: 20px;
}
.carousel-container .carousel-actions button#carousel-button-next{
  margin-right: 20px;
}

@keyframes fadeVisibility{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: opacity linear;
  }
}

.social-media{
  margin-top:10px;
  text-align: center;

}

.social-media a{
  text-decoration: none;
  color: #fff;
  padding-left: 3%;
  /* padding-top: 25%; */
}
.footer-section{
  margin: 15px;
  background:#22215E;
  opacity: 0.90;
}
.footer-section p{
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 25px;
  font-family: "verdana", monospace, sans-serif, serif;
}

.footer-section .container-fluid{
  padding-top: 3%;
  padding-bottom:3%;
}
.search-container{
  position: relative;
  /*border: 2px solid green;*/
  width:262px;
}
.search-container input[type=text],button{
  border: none;
  background-color:fff;
  }
.search-container input[type=text]{
  border-radius:15px 0 0 15px;
}
.search-container button{
  border-radius:0 15px 15px 0;
  background-color:#90ff90;
  color: blue;
  position:absolute;
  font-family:;
}
  
div.listOfServices ul, h1{
  display: inline-block;
  /* background-color: red; */
}

/* the grid layout for the container*/

.electronic-container{
  position:relative;
  top: -50px;
  background: linear-gradient(to right, skyblue,indigo,grey,blue,indigo,violet);
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto ;
  grid-column-gap:5px ;
  grid-row-gap:30px ;
  height: auto;
  /* justify-content: space-around; */
  margin: auto;
  width:auto;
  overflow-x: hidden;
  padding: 25px;
}

.user_interacting{
  margin-left: auto;
width:12.25rem;
background: #00e888;
}
.user_interacting .ul_item{
 margin: 3px 2px 3px 2px;
 display: inline-block;
}


.ul_item img{
  width: 40px;
  height: 40px;
  display: inline-block;
}
